@font-face {
    font-family: Vazir;
    src: url("./assets/Vazir.ttf");
  }
  * {
    font-family: Vazir;
  }
  tbody tr:hover {
    background-color: #e7e7e7;
  }
  table{
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    }
  td,th{
    text-align: center;
    border: 1px solid #dddddd;
    padding: 10px 0;
  
  }
  tr:nth-child(even){
    background-color: #f2f2f2;
  }