@font-face { font-family: Vazir; src: url("./assets/Vazir.ttf"); }

{ font-family: Vazir;
}
.focus-btn {
    border: 1px solid #6868f0;
     background-color: #6868f0;
     color: #fff; 
     height: 40px; 
     margin:10px; 
     cursor: pointer; 
} 
.focus-btn:focus { 
    outline: none; 
    border-color: #007aa3; 
    background-color: #007aa3; 
    box-shadow:0 0 0 3px rgba(0, 122, 163, 0.5);
}